.wau-pulse {
  animation: 0.5s ease-out 0s forwards pulse;
  border-radius: inherit;
  height: 100%;
  left: 0;
  outline: 0px solid transparent;
  position: absolute;
  top: 0;
  width: 100%;

  &.wau-pulse--danger {
    animation: 0.5s ease-out 0s forwards pulse-red;
  }
}

@keyframes pulse {
  0% {
    outline-width: 0px;
    outline-color: rgba(40, 110, 222, 0);
  }

  50% {
    outline-width: 5px;
    outline-color: rgba(40, 110, 222, 0.3);
  }

  100% {
    outline-width: 10px;
    outline-color: rgba(40, 110, 222, 0);
  }
}

@keyframes pulse-red {
  0% {
    outline-width: 0px;
    outline-color: rgba(176, 30, 12, 0);
  }

  50% {
    outline-width: 5px;
    outline-color: rgba(176, 30, 12, 0.3);
  }

  100% {
    outline-width: 10px;
    outline-color: rgba(176, 30, 12, 0);
  }
}
