.slide-options {
  &__actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  &__group {
    display: block;
    padding: 0 0 0 1rem;
  }

  &__current {
    font-size: 0.8rem;
  }
}
