.wau-drawer {
  background-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  height: 100%;
  left: 110%;
  position: fixed;
  top: 0;
  transition: left 0s 0.4s, background-color 0.4s ease-out;
  width: 100%;
  z-index: 900;

  &__drawer {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: block;
    left: 100%;
    height: 100%;
    top: 0;
    max-width: 400px;
    position: absolute;
    transition: transform 0.4s ease-out;
    width: 100%;
  }

  &.wau-drawer--open {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    transition: bottom 0s, background-color 0.4s ease-out;

    .wau-drawer__drawer {
      transform: translateX(-100%);
    }
  }

  &.wau-drawer--left {
    .wau-drawer__drawer {
      left: auto;
      right: 100%;
    }

    &.wau-drawer--open {
      .wau-drawer__drawer {
        transform: translateX(100%);
      }
    }
  }

  &.wau-drawer--top {
    .wau-drawer__drawer {
      bottom: 100%;
      left: 0%;
      top: auto;
      height: auto;
      min-height: 400px;
      max-width: none;
    }

    &.wau-drawer--open {
      .wau-drawer__drawer {
        transform: translateY(100%);
      }
    }
  }

  &.wau-drawer--bottom {
    .wau-drawer__drawer {
      bottom: auto;
      height: auto;
      left: 0%;
      min-height: 400px;
      max-width: none;
      top: 100%;
    }

    &.wau-drawer--open {
      .wau-drawer__drawer {
        transform: translateY(-100%);
      }
    }
  }

  &__header {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0.75rem 1.5rem;
    position: relative;
  }

  &__title {
    font-size: 1.2rem;
    margin: 0;
    padding: 0 1rem 0 0;
  }

  &__content {
    padding: 0.75rem 1.5rem 1.5rem 1.5rem;
  }
}
